---
title: Heni & Gábor
---

<div class="heading-section flex-center">
  <div class="container">
    <h1>Heni <br><span class="amp">&amp;</span> <br>Gábor</h1>
  </div>
</div>

<div class="hero-section flex-center container">
  <p class="lead">
    Még néhány nap és 2015. augusztus 1-jén örök hűséget fogadunk egymásnak. <br><br>

    E számunka oly fontos esemény boldog pillanatait szeretnénk megosztani rokonainkkal és barátainkkal, ezért sok szeretettel várunk Téged és kedves családodat a 15.00 órakor kezdődő egyházi esküvőre, majd az azt követő ünnepi vacsorára.<br><br>

    15:00 – 16:00 Templomi szertartás - Szent István Bazilika <br>
    (Bp., V. ker., Szent István tér 1.)
  </p>
</div>

<div class="basilica-section"></div>

<div class="hero-section flex-center container">
  <p class="lead">
    17:00 – 19:00 Vendégfogadás - AnKERT <br>
    (Bp. VI. ker., Paulay Ede utca 33.)
  </p>
</div>

<div class="ankert-photo"></div>

<div class="hero-section flex-center container">
  <p class="lead">19:00 – 05.00 Lakodalom</p>
</div>

<div class="dance-photo"></div>

<div class="hero-section flex-center container">
  <p class="lead">
    Várjuk visszajelzésedet az alábbi elérhetőségeken: <br><br>

    henriett.kovacs@gmail.com <br>
    +36 20 574 1510 <br><br>

    gabor.babicz@gmail.com <br>
    +36 30 387 1230 <br><br>

    Kérjük, ajándékkal ne készüljetek, amit ajándékra szánnátok, azt az este folyamán vagy a menyasszonytánc alkalmával lesz lehetőségetek átadni.
  </p>
</div>

<div id="map-canvas"></div>
